<div class="bg-zinc-500">
    <h1 class="text-3xl font-bold text-white text-center">{{ 'Divinosta' | upcase }}</h1>
    <nav class="flex items-center gap-x-5 mx-auto px-4 font-serif">
        {% for link in linklists.main-menu.links %}
            <p class="text-slate-700 hover:text-slate-900 text-lg">
                <a href="{{ link.url }}">{{ link.title }}</a>
            </p>
        {% endfor %}
    </nav>
</div>
