<div class="bg-zinc-500">
    <h1 class="text-3xl font-bold text-white text-center">{{ shop.name | upcase }}</h1>
    <nav class="flex items-center gap-x-5 mx-auto px-4 text-slate-700 font-serif">
        {% for link in linklists.main-menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
    </nav>
</div>
